@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"">
    <h3 class="display-4">InsuranceManagementApp</h3>
    <p>Jako závěrečný projekt, který je stále v procecsu vývoje.<br/>
    Aktuálně by měl splňovat alespoň minimální požadavky.<br/></p>
    <p>Pro zobrazení detailu, přidání, úpravu a smazání <br/>
      je nutné se přihlásit jako administrátor<br/>
    admin@admin.cz<br/>
    Admin1234
    </p>
</div>

